// Waybar Configuration

{
    "spacing": 5,
    "layer": "top",
    "width": -10,

    "modules-left": [
        "hyprland/workspaces",
        "hyprland/submap", 
        "hyprland/window"
    ],
    "modules-center": [],
    "modules-right": [
        "tray", 
        "idle_inhibitor",
        "memory",
        "temperature",
        "network",
        "cpu",
        "backlight",
        "pulseaudio",
        "battery",
        "clock"
    ],

    // ----------------------------------------- //
    // ------- // Modules Configuration //------ //
    // ----------------------------------------- //
    
    "hyprland/workspaces": {
        "format": "{icon} {windows} ",
        "format-window-separator": "  ",
        "window-rewrite-default": "󱃼",
        "window-rewrite": {
            "1Password": "",
            "Alacritty": "",
            "Vivaldi": "󰇧",
            "Code": "󰨞",
            "discord": "󰙯",
            "pavucontrol": "",
            "Brave": "",
            "Noisetorch": "",
            "Obsidian": ""
        },
    },

    "hyprland/submap": {
        "format": " 󰡱 : <span style=\"italic\">{}</span> ",
        "max-length": 50
    },

    "hyprland/window": {
        "format": "{}",
        "min-length": 30,
        "max-length": 30,
        "rewrite": {
            "(.*) - Vivaldi":"󰇧 $1",
            "(.*) - Visual Studio Code": "󰨞 $1",
            "(.*) - Discord":"󰙯 $1",
            "(.*) - 1Password":" $1",
            "(.*) - Brave":" $1",
            "(.*) - Noisetorch":" $1",
            "(.*) - Obsidian":" $1"
        }
    },

    "wlr/taskbar": {
        "format": "{icon}",
        "icon-size": 32,
        "icon-theme": "",
        "tooltip-format": "{title}",
        "on-click": "activate",
        "on-click-middle": "close"
    },
    
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated":"󰈈",
            "deactivated":"󰈉"
        }
    },

    "tray": {
        "icon-size": 20,
        "spacing": 10
    },

    "clock": {
        "interval": 1,
        "format": "{:%H:%M:%S}  ",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}  "
    },
    "cpu": {
        "interval": 1,
        "format": "{icon0}{icon1}{icon2}{icon3}{icon4}{icon5}{icon6}{icon7}{icon8}{icon9}{icon10}{icon11}{icon12}{icon13}{icon14}{icon15}",
        "format-icons": ["▁", "▂", "▃", "▄", "▅", "▆", "▇", "█"],
        "tooltip": true
    },

    "network": {
        "interface": "wlp*", 
        "format-wifi": "{essid} {signalStrength}% ",
        "format-ethernet": "󰈀 {ipaddr}",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ⚠",
        "tooltip-format": "{ifname}: {ipaddr}/{cidr}\n{essid}",
        "interval": 5
    },
    "pulseaudio": {
        "format": "{icon}  {format_source}",
        "format-muted": "󰝟 󱋯 󱋯 󱋯 󱋯 󱋯  {format_source}",
        "format-bluetooth": "{volume}% {icon}  {format_source}",
        "format-bluetooth-muted": "󰎊 {icon}  {format_source}",
        "format-source": "󰍬",
        "format-source-muted": "󰍭",
        "format-icons": {
            "headphone": "",
            "hands-free": "󱡏",
            "headset": "󰋎",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["󰕿 󰝣 󰝣 󰝣 󰝣 󰝣", "󰖀 󰝤 󰝣 󰝣 󰝣 󰝣", "󰖀 󰝤 󰝤 󰝣 󰝣 󰝣", "󰖀 󰝤 󰝤 󰝤 󰝣 󰝣", "󰖀 󰝤 󰝤 󰝤 󰝤 󰝣", "󰕾 󰝤 󰝤 󰝤 󰝤 󰝤" ]
        }
    },
    "battery": {
        "bat": "BAT0",
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% 󰂄",
        "format-plugged": "{capacity}% ",
        "format-icons": ["󰂎", "󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
        "tooltip-format": "{timeTo}, {capacity}%"
    },

    "backlight": {
        "device": "amdgpu_bl1",
        "format": "{percent}% {icon}",
        "format-icons": ["󰃞", "󰃟", "󰃠"],
        "tooltip-format": "Brightness: {percent}%"
    },

    "memory": {
        "interval": 5,
        "format": "{}% ",
        "tooltip-format": "RAM: {used:0.1f}G / {total:0.1f}G"
    },

    "temperature": {
        "thermal-zone": 2,
        "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        "format": "{temperatureC}°C {icon}",
        "format-icons": ["", "", ""],
        "tooltip": true
    }
}
